@import "tailwindcss";

{/*agency*/}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-60%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}